<!DOCTYPE html>
<html>
<head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    
    <title>Modwat.ch</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
</head>
<body>
	<div id="full-wrapper">
		<h1 id="header"><a href="/">MODWAT.CH</a></h1>
		<span id="content-wrapper">
			<div>
				<p id="download-header"><a href="http://www.nexusmods.com/skyrim/mods/56640/?tab=2&navtag=http%3A%2F%2Fwww.nexusmods.com%2Fskyrim%2Fajax%2Fmodfiles%2F%3Fid%3D56640&pUp=1#content">Download Here!</a></p>
			</div>
			<div class="update-block">
				<div class="post-header">
					<h3 class="post-title"><%- title %></h3>
				</div>
				<!--<span><% if(thumbnailurl != "") { %><a href="<%- thumbnailurl %>" target="_blank"><img src="<%- thumbnailurl %>" class="post-thumbnail"/></a><%}%><h3 class="post-title"><%- title %></h3></span>-->
				<p class="post-body"><%- content %></p>
				<p class="post-sig">-<%-author %>, <%-date%></p>
			</div>
		</span>
		<span id="sidebar-wrapper">
			<form class="input-group" action="/usersearch" method="post">
				<input type="text" class="form-control" name="username" placeholder="Username"/>
				<button class="btn" type="submit" style="margin:10px 0px">Find a load order!</button>
			</form>
			<form class="input-group" action="/usersearch" method="post">
				<select class="form-control" onchange="document.getElementById('recent').innerHTML = 'View '+this.options[this.selectedIndex].value+'\'s Mods'" name="username">
					<% for (var i = 0; i < mods.length; i++) { %>
						<option value="<%-mods[i]%>"><%-mods[i]%></option><%
					} %>
				</select>
				<button class="btn" type="submit" id="recent" style="margin:10px 0px">View <%-mods[0]%>'s Mods</button>
			</form>
			<a href="/users/" style="color:black"><button class="btn" type="button">View All Uploads</button></a>
			<div id="sidebar-links">
				<a href="https://github.com/ansballard/SkyrimModWatcher" target="_blank"><img id="github-link" src="/images/GitHub-Logo_invert.png" class="sidebar-link" alt="Github repository link" title="Github Repo"/></a>
				<a href="http://www.nexusmods.com/skyrim/mods/56640/?" target="_blank"><img id="nexus-link" src="/images/FNV_NEXUS_small.png" class="sidebar-link" alt="Nexus link" title="Nexus Page"/></a>
			</div>
		</span>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <% if (login == true) { %>
    <form action="/login" method="post">
    	<input type="text" name="username" placeholder="username"/>
    	<input type="password" name="password" placeholder="password"/>
    	<input type="submit"/>
    </form>
    <% } else if (admin == true) { %>
    <div style="width: 80%;margin:auto;text-align:left">
    <form method="post" action="http://modwat.ch/postnewblog">
		<div><input type="text" name="title" placeholder="Title" maxlength="80"/>
		<input type="text" name="thumbnail" placeholder="Thumbnail URL"/></div>
		<div><input type="text" name="author" placeholder="Author"/>
		<input type="text" name="desc" placeholder="Description"/></div>
		<textarea name="content" placeholder="Content"></textarea>
		<input type="Submit"/>
	</form>
	</div>
	<a href="/logout">LOGOUT</a>
	<% } %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53199250-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>