<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=475, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <title><%= username %>'s Load Order</title>

    <style type="text/css">
      body {
        font-family:"Lucida Console", monospace;
        font-size: 12px;
        color:#000000;
        background:#ebebeb;
        background-image: url("/images/congruent_outline.png");
      }
      #header {
        font-family:"Muli", sans-serif;
        width:100%;
        font-size: 6em;
        font-weight: bold;
        color:#D0D0D0;
      }
      #header a {
        color:#D0D0D0;
        text-decoration:none;
      }
      span#list-container {
        width: 60%;
        min-width: 475px;
        margin: 1% 0% 2.5% 0%;
        vertical-align: top;
        display: inline-block;
        border-radius: 25px;
        background-color: #E0E0E0;
        text-align: left;
      }
      span#search-container {
        text-align: center;
        width: 100%;
        padding: 10px 40px;
        display: inline-block;
      }
      #filter-mods, #username {
        width: 40%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
      }
      #username {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div#main-container {
        max-width: 1000px;
        margin: auto;
        text-align: center;
      }
      ul#plugins, ul#modlist, ul#skyrim-ini, ul#skyrimprefs-ini {
        list-style-type: none;
        padding: 0px 40px 40px 40px;
      }
      li {
        padding: 3px 0px 3px 3px;
        border-left: 1px solid #B0B0B0;
        border-right: 1px solid #B0B0B0;
      }
      li.grayed {
        background-color: #E0E0E0;
      } /* 1380 */
      li.whited {
        background-color: #FFFFFF;
      }
      span.row-header {
        display: inline-block;
        text-align: right;
        vertical-align: top;
        width: 50px;
        padding: 0px 10px;
      }
      #plugins span.row-body {
        max-width: 75%;
        display: inline-block;
        vertical-align: top;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      span.row-footer {
        border-radius: 10px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 40px;
        margin-right: 10px;
        float: right;
      }
      span.esp {
        background-color: rgba(0,140,0,0.25);
      }
      span.esm {
        background-color: rgba(0,0,140,0.25);
      }
      div#nav-wrapper {
        text-align: center;
        margin-top: 20px;
        width: 100%;
        padding: 0px 40px;
      }
      div#nav-wrapper button {
        background-color: #C0C0C0;
      }
      button.selected {
        border: 2px solid black;
      }
      h1#timestamp {
        font-size: 20px;
      }
    </style>

  </head>

  <body>

    <div id="main-container">
      <h1 id="header"><a href="/">MODWAT.CH</a></h1>
      <span id="list-container">
        <div id="nav-wrapper">
          <%if (admin) {%>
            <form action="/admin/<%-username%>/delete" method="post">
              <input type="submit"/>
            </form>
          <%}%>
          <h1 id="timestamp"><%if(timestamp!="7/10/2014"){%>Updated: <%-timestamp%><%} else{}%></h1>
          <span><button class="btn selected" id="pluginsNav" onclick="NavigateLists(0, this)">Plugins</button></span>
          <span><button class="btn" id="modlistNav" onclick="NavigateLists(1, this)">Modlist</button></span>
          <span><button class="btn" id="skyrim-iniNav" onclick="NavigateLists(2, this)">Skyrim</button></span>
          <span><button class="btn" id="skyrimprefs-iniNav" onclick="NavigateLists(3, this)">SkyrimPrefs</button></span>
        </div>
        <span id="search-container">
          <h3 id="username"></h3>
          <input type="text" class="form-control" id="filter-mods" placeholder="Filter by..."/>
        </span>
        <ul class="" id="plugins"></ul>
        <ul class="" id="modlist"></ul>
        <ul class="" id="skyrim-ini"></ul>
        <ul class="" id="skyrimprefs-ini"></ul>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Modwat.ch Ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8579998974655014"
             data-ad-slot="3149707880"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </span>
      
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">

      var username = "<%- username %>";
      var listoflistsbodies = ["", "", "", ""];
      var listoflistsdata = [<%-list%>, <%-modlist%>, <%-skyrimini%>, <%-skyrimprefsini%>];
      var listoflists = ['plugins','modlist','skyrim-ini','skyrimprefs-ini'];
      var listoflistnames = ['Plugins.txt', 'Modlist.txt', 'Skyrim.ini','SkyrimPrefs.ini'];
      var listoflistsindex = 0;

      var expandedItem = undefined;

      $(document).ready(function() {
        $('#modlist').hide();
        $('#skyrim-ini').hide();
        $('#skyrimprefs-ini').hide();

        listoflistsdata[1] = reverseArray(listoflistsdata[1]);

        for(var i = 0; i < listoflistsdata.length; i++) {
          if(listoflistsdata[i].length == 0)
          {
            $('#'+listoflists[i]+'Nav').hide();
          } 
          else 
          {
            for(var j = 0; j < listoflistsdata[i].length; j++) {
              listoflistsbodies[i] += "<li class='";
              if(j%2 == 1) {
                listoflistsbodies[i] += " grayed";
              } else {
                listoflistsbodies[i] += " whited";
              }
              if(i == 0) {
                listoflistsbodies[i] += "'><span class='row-header'>"+(j+1)+".</span><span class='row-body'>"+listoflistsdata[i][j]+"</span><span class='row-footer "+listoflistsdata[i][j].substr(-3,3)+"'>"+listoflistsdata[i][j].substr(-3,3)+"</span></li>";
              } else {
                listoflistsbodies[i] += "'><span class='row-header'>"+(j+1)+".</span><span class='row-body'>"+listoflistsdata[i][j]+"</span></li>";
              }
            }
          }
          $('#'+listoflists[i]).html(listoflistsbodies[i]);
        }

        //$('#username').html(username + "\'s " + listoflistnames[listoflistsindex]);
        $('#username').html(username);
        $('#num-mods').html(listoflistsdata[listoflistsindex].length + " lines");

        $('#filter-mods').keyup(function(){
          var filterText = $(this).val();
          var iterator = 0;
          $('#'+listoflists[listoflistsindex]+' > li').each(function(){
            var text = $(this).text().toLowerCase();
            if(filterText[0] == '^') {
              (text.indexOf(filterText.substr(1)) == 0) ? $(this).slideDown() : $(this).slideUp();
            } else {
              if(text.indexOf(filterText) >= 0) {
                (iterator%2 == 0) ? $(this)[0].className = 'whited' : $(this)[0].className = 'grayed';
                iterator++;
                $(this).slideDown();
              } else {
                $(this).slideUp();
              }
            }
          });
        });

        $('.row-body').css('max-width', ($('#mod-list').width() - 110)+'px');

        $(window).resize(function() {
          $('.row-body').css('max-width', ($('#plugins').width() - 110)+'px');
        });

        $('#filter-mods').keyup(function() {
          var filterText = $(this).val();
          var iterator = 0;
          $('#mod-list > li').each(function(){
            var text = $(this).text().toLowerCase();
            if(filterText[0] == '^') {
              (text.indexOf(filterText.substr(1)) == 0) ? $(this).slideDown() : $(this).slideUp();
            } else {
              if(text.indexOf(filterText) >= 0) {
                (iterator%2 == 0) ? $(this)[0].className = 'whited' : $(this)[0].className = 'grayed';
                iterator++;
                $(this).slideDown();
              } else {
                $(this).slideUp();
              }
            }
          });
        });
        $('.row-body').css('max-width', ($('#plugins').width() - 110)+'px');

        $('#plugins span.row-body').mouseover(function() {
          if ($(this)[0].scrollWidth >  $(this).innerWidth()) {
            $(this).height($(this).height()*2);
            $(this).css('white-space','normal');
            expandedItem = $(this);
          }
        });
        $('#plugins span.row-body').mouseout(function() {
          if (expandedItem != undefined && $(this).css('white-space') != 'nowrap') {
            expandedItem.height($(this).height()/2);
            expandedItem.css('white-space','nowrap');
            expandedItem = undefined;
          }
        });
      });

      function NavigateLists(_index, button) {
        if(_index != listoflistsindex) {
          $('.selected').removeClass('selected');
          $('#'+listoflists[listoflistsindex]).toggle('display', function() {
            $('#'+listoflists[listoflistsindex]+' > li').each(function(){ if(!$(this).is(":visible")) {$(this).show();}});
            $('#'+listoflists[_index]).toggle('display', function() {
              $(button).addClass('selected');
              listoflistsindex = _index;
              //$('#username').html(username + "\'s " + listoflistnames[listoflistsindex]);
              $('#username').html(username);
              //$('#num-mods').html(listoflistsdata[listoflistsindex].length + " lines");
              $('#filter-mods').val("");
            });
          });
          return listoflistsindex;
        } else {
          return false;
        }
      }

      function reverseArray(_array) {
        var reversedArray = [];
        for(var i = 0, j = _array.length-1; i < _array.length; i++, j--) {
          reversedArray[i] = _array[j];
        }
        return reversedArray;
      }


    </script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53199250-1', 'auto');
  ga('send', 'pageview');

</script>
        
  </body>
</html>